<div class="paginator-color">
                <nav aria-label="Page navigation example"  style="margin-bottom:50px">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="?page=1">...</a></li>
                        {% endif %}
                        {% if page_obj.number > 2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}">{{ page_obj.number|add:'-2' }}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></li>
                        {% elif page_obj.number > 1 %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}" style="background-color:#e6dbb9">{{ page_obj.number }}</a></li>
                        {% if page_obj.paginator.num_pages >= page_obj.number|add:'2' %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:'2' }}</a></li>
                        {% elif page_obj.paginator.num_pages >= page_obj.number|add:'1' %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">...</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}                     
                    </ul>
                </nav>
            </div>