{% extends 'layouts/base.html' %}
{% load static %}



{% block content %}
    <h2 class="new_questions" style="display: inherit">Log In </h2>
    {% if form.errors %}
        {% for key, key_errors in form.errors.items %}
             {% for error in key_errors %}
            <p class="wrong-password" style="color: red">{{ error }}</p>
             {% endfor %}
        {% endfor %}
    {% endif %}
    
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3 row" style="margin-top: 15px">
            <label for="login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="login" name="username" maxlength="10" value="{{ form.cleaned_data.username }}"
                       placeholder="Enter your login here">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" placeholder="Enter your password here" id="inputPassword" name="password">
                <div style="display: flex; align-items: center; gap: 10px">
                    <button type="submit" class="btn btn-dark" style="margin-top: 30px">Log in!</button>
                    <a href="{% url 'signup' %}" style="margin-top: 25px; margin-left: 25px; display: inline-block">create new account</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}  
